@model HopeHaven1.Models.Therapists
@{
    ViewBag.Title = "BookSession";
}
<h2>Booking Session</h2>
@if (Model != null)
{
    <div class="card">
        <div class="card-header">
            <h5 class="card-title text-center">@Model.Name</h5>
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
        </div>
    </div>
}
<div>
    <form action="/Home/GetOtp" class="d-flex justify-content-center mt-5" id="getOtpform">
        <div class="form-outline mb-4 mx-3">
            <label for="PhoneNo" class="form-label">Phone No</label>
            <input type="number" class="form-control" name="PhoneNo" id="phoneNo"/>
        </div>
        <div class="form-outline mt-4 mx-3">
            <button class="btn btn-success" id="getotpbtn">Get OTP</button>
        </div>
    </form>
    <div id="VerifyForm">
        <form action="/Home/VerifyOtp" class="d-flex justify-content-center mt-5" method="post" id="verifyotpform">
            <div class="form-outline mb-4 mx-3">
                <label for="OTP" class="form-label">OTP</label>
                <input type="number" class="form-control" name="enteredOtp" />
                <input type="text" class="visually-hidden" name="PhoneNo" id="hiddenphoneNo" />
            </div>
            <div class="form-outline mt-4 mx-3">
                <button type="submit" class="btn btn-primary" id="submitotp">Submit OTP</button>
            </div>
        </form>
    </div>
</div>
<div id="PatientDetails">
    <h2 class="text-center mt-5 mb-4">Patient Details</h2>
    <form action="/Home/AddPatient" method="post" id="verifyotpform1">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="Name" />
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Gender</label>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="male" value="Male" name="Gender" />
                        <label class="form-check-label" for="male">Male</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="female" value="Female" name="Gender" />
                        <label class="form-check-label" for="female">Female</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Age" class="form-label">Age</label>
                    <input type="number" class="form-control" name="Age" />
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block mt-2">Proceed to Pay</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#VerifyForm').hide();
        $('#PatientDetails').hide();
    });
    $('#getOtpform').submit(function (e) {
        e.preventDefault(); // Prevent the default form submission

        // Get form data
        var formData = $(this).serialize();

        // Make AJAX request
        $.ajax({
            url: '/Home/GetOtp',
            type: 'POST',
            data: formData,
            success: function (response) {
                if (response.success) {
                 var phoneno = $('#phoneNo').val();
                  $('#hiddenphoneNo').val(phoneno);
                    $('#VerifyForm').show();
                } else {
                    $('.error-message').text(response.errorMessage);
                }
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
            }
        });
    });
    $('#verifyotpform').submit(function (e) {
        e.preventDefault(); // Prevent the default form submission

        // Get form data
        var formData = $(this).serialize();

        // Make AJAX request
        $.ajax({
            url: '/Home/VerifyOtp',
            type: 'POST',
            data: formData,
            success: function (response) {
                if (response.success) {
                    // Redirect to the payment page
                    $('#PatientDetails').show();
                } else {
                    // Display error message
                    $('.error-message').text(response.errorMessage);
                }
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
            }
        });
    });
</script>
